main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
    
    
}

.wrapper {
    width: auto;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    
}

.card {
    width: 650px;
    height: 475px;
    display: flex;
    border-radius: 15px;;
    overflow: hidden;

}

.img-section {
    width: 50%;
    height: 100%;
    
}

.img-section img {
    height: 100%;
    object-fit: cover;

}



.txt-section {
    height: 100%;
    padding: 2rem;
    display: grid;
    gap: 12px;
    background-color: var(--white);
}

.txt-perfume {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
}

.txt-title {
    width: 100%;
    font-family: 'Fraunces', serif;
    padding-right: 4rem;

}

.txt-content {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);   
    padding-right: 2rem;
}

.txt-price {
    
    display: flex;
    align-items: center;
    
}

.txt-section, .txt-price>h1 {
    color: var(--dark-cyan);
}

.txt-section .txt-price .txt-saled{
    margin-left: 1rem;
    color: var(--dark-grayish-blue); 
}

.btn {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 10px;
    background-color: var(--dark-cyan);
    color: var(--white);
    transition: 0.5s ease-in-out;
    filter: brightness(1.0);
    
    
    
}

.btn .cart-img {
    margin-right: 0.5rem;
}

.btn:hover {
    background-color: hsl(158, 36%, 22%);
}
